<!DOCTYPE html >
<html lang="en" ng-app="memoryGameApp">

<head>
    <title>Walmart Memory Game</title>
    <link href="assets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="assets/css/main.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid main-content" ng-cloak>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3 logo-container">
                <img class="img-responsive" src="assets/img/walmart-logo-transparent.png">
            </div>
        </div>
        <div class="row">
            <div ng-hide="isGameStarted" class="col-md-12">
                <div memory-game-main-view></div>
            </div>
            <div ng-if="isGameStarted" class="col-xs-12 col-lg-6 col-lg-offset-3">
                <div memory-game-cards-view></div>
            </div>
        </div>
    </div>
    
    <script src="assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="assets/libs/angular/angular.min.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/libs/moment/moment.min.js"></script>
    <script src="assets/libs/humanize-duration/humanize-duration.js"></script>
    <script src="assets/libs/angular-resource/angular-resource.min.js"></script>
    <script src="assets/libs/angular-timer-master/dist/angular-timer.min.js"></script> 
    <script src="service/memory-game-api-service.js"></script>
    <script src="views/game-modal/game-modal-directive.js"></script>
    <script src="views/timer/timer-directive.js"></script>
    <script src="views/main/main-page-directive.js"></script>
    <script src="views/cards/cards-controller.js"></script>
    <script src="views/cards/cards-directive.js"></script>
    <script src="main.js"></script>
</body>

</html>