.img-responsive {
    margin-bottom: 15px;
}

.image-wrapper {
    cursor: pointer;
}

.not-selectable {
    pointer-events: none;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
/*    height: 95%;*/
    padding: 42.5%;
    pointer-events: none;
    transform: translate(6%);
    border-radius: 5px;
}

.layer-blue {
    background-color: #007dc6;
}

.layer-yellow {
    background-color: #ffc220;
}

.image-wrapper img {
    opacity: 0;
    visibility: hidden;
}

.image-wrapper .show-img {
    opacity: 1;
    visibility: visible;
    animation-name: flipInY;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
    pointer-events: none;
}

/* animations */
@keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}
