<link href="views/timer/timer-style.css" rel="stylesheet">
    <timer ng-if="maxTimeToWin>0" countdown="maxTimeToWin" interval="1000" finish-callback="stopTimer()">
        <div class="timer-wrapper">
<!--
            <span ng-show="progressBar > 90" ng-class="{ 'timer-ending' : progressBar >= 90 }">
                Remaining time : {{countdown}} second{{secondsS}}
            </span>
-->
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" 
                   ng-class="{ 'progress-bar-danger' : progressBar >= 90, 'progress-bar-info' : progressBar < 90 }"
                   role="progressbar" 
                   aria-valuenow="{{progressBar}}" 
                   aria-valuemin="0" 
                   aria-valuemax="100" 
                   style="width: {{progressBar}}%;"
                   ng-show="!userWon">
                </div>
                <div class="progress-bar progress-bar-striped  progress-bar-success active"
                   role="progressbar" 
                   aria-valuenow="100" 
                   aria-valuemin="0" 
                   aria-valuemax="100" 
                   style="width: 100%;"
                   ng-show="userWon">
            </div>
            </div>
        </div>
    </timer>
<br/>